/* Global */
:root {
  --main-blue: #0065fc;
  --light-blue: #deebff;
  --grey: #d9d9d9;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

main {
  margin: 1em;
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

header .logo {
  align-self: center;
  width: 60px;
  height: 19px;
}

.header-menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-menu-list-item {
  height: 100%;
  padding: 2em;
  max-width: 162px;
}

.header-menu-list-item:hover {
  border-top: 2px solid var(--main-blue);
}

.header-menu-list-item a {
  text-decoration: none;
}

.form-search {
  display: flex;
}

.form-search-icon {
  padding: 0.8em 1em;
  border: 1px solid var(--grey);
  background-color: var(--grey);
  border-radius: 10% 0 0 10%;
}

.form-search-text {
  padding: 1.2em;
  border: 1px solid var(--grey);
  color: black;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.form-search-button {
  padding: 1.2em;
  border: 1px solid var(--main-blue);
  border-radius: 0 10% 10% 0;
  background-color: var(--main-blue);
  color: white;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.form-search-button:hover {
  cursor: pointer;
}

/* Filters */
.filters,
.filters-list {
  display: flex;
  justify-content: start;
  align-items: center;
}

.filters-title {
  font-size: 18px;
  font-weight: bold;
}

.filters-list-items {
  margin: 1em;
  padding: 1em;
  border: 2px solid var(--grey);
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
}

.filters-list-items i {
  color: var(--main-blue);
  margin-right: 0.5em;
}

.filters-list-items:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.info {
  margin: 0 0 1em 0;
}

.info i {
  box-sizing: border-box;
  padding: 0.1em;
  text-align: center;
  border: 1px solid var(--grey);
  border-radius: 12px;
  width: 24px;
  height: 24px;
  color: var(--main-blue);
  transform: scale(0.8);
}

/* Lodging */

.lodging {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.lodging .popular,
.results {
  background: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 10px;
}

.trends > .result-list {
  padding: 0 1em;
}

.popular-title {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0 1em;
  margin: 1em 0 0 1em;
}

.popular-title h2 {
  margin: 0;
}

.popular i {
  color: var(--main-blue);
}

.results {
  margin-right: 1em;
}

.results-title {
  margin: 1em 0 0 1em;
  font-size: 14px;
}

.results-title h2 {
  margin: 0;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.results-list-item {
  margin: 1em 0;
}

.results a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.display-more {
  margin: 1em;
}

/* cards */
.card {
  width: 12em;
  max-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid white;
  border-radius: 0.5em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  min-height: 112px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 0.5em 0.5em 0 0;
}

.card-left {
  flex-direction: row;
  width: 100%;
  min-height: 144px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card-left > img {
  min-width: 122px;
  max-height: 144px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 0.5em 0 0 0.5em;
}

.card-left > .card-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-left,
.card > .card-body > .description > * {
  margin: 0;
  font-size: 14px;
}

.description p {
  font-weight: normal;
}

.card-header {
  height: 100px;
  box-sizing: border-box;
  object-fit: fill;
  background-size: auto;
  border: 5px solid white;
  border-radius: 0.25em 0.25em 0 0;
}

.card-body {
  padding: 0.5em;
}

.card-body > * {
  margin: 0.3em 0;
}

.fa-star {
  color: var(--main-blue);
}

.notation .fa-star:nth-child(4) {
  color: var(--grey) !important;
}

/* Activities */
.activities {
  padding: 2em;
}

.activities > .results-list > .results-list-item {
  margin: 0;
}

.card-xl {
  max-width: 302px;
  min-height: 444px;
  border: 1px solid white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.card-xl > p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 1em;
}

.card-xl > img {
  width: 302px;
  height: 444px;
  object-fit: cover;
}

/* Footer */
.footer {
  display: flex;
  justify-content: start;
  background-color: var(--grey);
  margin: 0 2em;
  border: 1px solid var(--grey);
}

.footer-item {
  margin-right: 10em;
}

.footer-item:first-child {
  margin-left: 6em;
}