/* Global */
:root {
  --main-blue: #0065fc;
  --light-blue: #deebff;
  --grey: #d9d9d9;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

main {
  margin: 1em;
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.header .logo {
  align-self: center;
  width: 60px;
  height: 19px;
}

.header-menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-menu-list-item {
  height: 100%;
  padding: 1.9em 2em;
  margin-top: 2px;
  max-width: 162px;
}

.header-menu-list-item:hover,
.header-menu-list-item:focus {
  border-top: 3px solid var(--main-blue);
  margin-top: -2px;
  cursor: pointer;
  color: var(--main-blue);
}

.header-menu-list-item a {
  text-decoration: none;
}

/* Search */
.search h1 {
  margin-bottom: 0.5em;
}
.search p {
  margin-top: 0;
}

.form-search {
  display: flex;
}

.form-search-icon {
  padding: 0.9em 1em;
  border: 1px solid var(--grey);
  background-color: var(--grey);
  border-radius: 10px 0 0 10px;
}

.form-search-text {
  padding: 0.75em;
  font-size: 18px;
  border: 1px solid var(--grey);
  color: black;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.form-search-button {
  padding: 1.2em;
  border: 1px solid var(--main-blue);
  border-radius: 0 10px 10px 0;
  background-color: var(--main-blue);
  color: white;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.form-search-button:hover {
  cursor: pointer;
}

.form-search-button > i {
  display: none;
}

/* Filters */
.filters,
.filters-list {
  display: flex;
  justify-content: start;
  align-items: center;
}

.filters {
  margin: 1em 0;
}

.filters-title {
  font-size: 18px;
  font-weight: bold;
}

.filters-list-items {
  margin: 0 1em;
  padding: 0.5em;
  border: 2px solid var(--grey);
  border-radius: 25px;
  font-size: 14.5px;
  font-weight: bold;
}

@-moz-document url-prefix() {
  .filters-list-items {
    padding: 0.9em;
  }
}

.filters-list-items i {
  color: var(--main-blue);
  margin-right: 0.5em;
}

.filters-list-items:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.info {
  margin: 1em 0 1em 0;
}

.info i {
  box-sizing: border-box;
  padding: 0.1em;
  text-align: center;
  border: 1px solid var(--grey);
  border-radius: 12px;
  width: 24px;
  height: 24px;
  color: var(--main-blue);
  transform: scale(0.8);
}

/* Lodging */
.lodging {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.lodging .popular,
.results {
  background: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 10px;
}

.lodging .popular {
  padding: 1em 1em 2em;
}

.popular-title {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular > .trends > .result-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popular > .trends > .result-list > .results-list-item {
  margin: 0.5em 0;

}

.popular i {
  color: var(--main-blue);
}

.results {
  margin-right: 1em;
  padding: 1em;
}

.results-title {
  margin: 0 0.5em;
  font-size: 14px;
}

.results-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.results-list-block {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.results-list-block > .results-list-item {
  margin: 0.5em ;
  width: calc(100% / 3);
}

.results a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.display-more {
  margin: 1em 0.5em;
}

/* cards */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 0.5em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card > img {
  height: 100px;
  width: 100%;
  max-height: 90px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 0.5em 0.5em 0 0;
}

.card-body {
  padding: 0.5em;
}

.card-body > .notation {
  font-size: 12px;
}

.card-left {
  flex-direction: row;
  width: 100%;
  height: calc(144px / 1.3);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid white;
}

.card-left > img {
  height: 100%;
  max-height: 106px;
  min-width: 40%;
  width: calc(100%/3);
  object-fit: cover;
  border-radius: 0.5em 0 0 0.5em;
}

.card-left > .card-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card > .card-body > .description > * {
  margin: 0.2em 0;
  font-size: 12px;
}

.description p {
  font-weight: normal;
}

.card-header {
  height: 100px;
  box-sizing: border-box;
  object-fit: fill;
  background-size: auto;
  border: 5px solid white;
  border-radius: 0.25em 0.25em 0 0;
}

.fa-star {
  color: var(--main-blue);
}

.notation .fa-star:nth-child(4) {
  color: var(--grey) !important;
}

/* Activities */
.activities {
  padding: 0;
  margin-top: 3em;
}

.activities > .results-list {
  justify-content: space-between;
}

.activities > .results-list > .results-list-item {
  margin: 0;
  width: calc(90% / 4);
}

.card-xl {  
  border: 1px solid white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.card-xl > h5 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 1em 0.5em;
}

.card-xl > img {
  width: 100%;
  height: 20em;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

/* Footer */
.footer {
  display: flex;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  font-size: 12px;
  padding: 0 2em;
  margin: 0 1em;
}

.footer-item {
  width: calc(95% / 3);
}

.footer-item:first-child {
  margin-left: 3em;
}

.footer-item ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.footer-item ul li {
  margin: 0.5em 0;
}

.footer-item h3 {
  margin: 1em 0 0.5em 0;
}

/* Responsive */
/* Tablet */
@media screen and (max-width: 991px) {
  .lodging {
    flex-direction: column-reverse;
  }

  .results {
    margin: 0 0 2em 0;
    padding-bottom: 1em;
  }

  .results-list-item {
    margin: 1.5em;
  }

  .popular-title {
    padding: 0 0.6em;
    margin: 1.5em 0;
  }

  .popular-title > h2 {
    margin: 0;
  }

  .popular >.trends > .result-list {
    flex-direction: row;
    justify-content: space-around;
  }

  .popular >.trends > .result-list > .results-list-item {
    width: calc(100% / 3);
    margin: 0 0.5em;
  }

  /* .card-left {
    width: calc(90% / 3);
  } */

  .card-left > img {
    /* min-width: 50%; */
    /* max-height: 142px; */
    /* width: calc(100% / 2); */
  }

  .card-xl {
    width: 10em;
  }

  .card-xl > img {
    height: 10em;
    width: 100%;
  }

  .card-xl > h5 {
    margin: 1em;
    height: 30px;
  }

  .activities {
    padding: 0;
  }

  .activities > .results-list > .results-list-item {
    width: 165px;
  }

  .footer {
    margin-top: 2em;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  main {
    margin: 0;
  }
  /* Header */
  .header {
    flex-direction: column;
    padding: 0;
  }

  .header > .logo {
    margin: 1em 0 0 0;
  }

  .header-menu-list {
    justify-content: center;
  }

  .header-menu-list-item {
    width: 100%;
    text-align: center;
  }

  .header-menu-list-item:hover,
  .header-menu-list-item:focus {
    border-top: none;
    border-bottom: 3px solid var(--main-blue);
    margin-bottom: -6px;
  }
  .search {
    margin: 1em;
  }

  .form-search-button {
    padding: 1.3em;
  }

  .form-search-text {
    width: 55vw;
  }

  .form-search-button-text {
    display: none;
  }

  .form-search-button > i {
    display: block;
  }

  /* Form */
  .form-search {
    justify-content: center;
  }

  /* Filters */

  .filters {
    flex-direction: column;
    align-items: baseline;
  }

  .filters-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .filters-list > .filters-list-items {
    width: 35%;
  }

  /* Lodging */
  .lodging {
    flex-direction: column;
  }

  .lodging .popular,
  .lodging .results {
    border: none;
    border-radius: 0;
  }

  .lodging > .results {
    background-color: #ffffff;
  }

  .trends {
    background-color: var(--grey);
  }

  .trends > .result-list {
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
  }

  .trends > .result-list > .results-list-item {
    margin: 0.5em 1em;
  }

  .card-left {
    min-width: 339px;
    max-width: 100%;
  }

  .card-left > img {
    min-width: 120px;
  }

  .display-more {
    display: none;
  }

  /* Activities */
  .activities > .results-list {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .activities {
    padding: 1em;
  }

  .activities > .results-list > .results-list-item {
    width: 100%;
    margin-bottom: 1.5em;
  }

  .card-xl {
    min-width: 390px;
    max-width: 100%;
  }

  .card-xl > h5 {
    font-size: 16px;
  }

  /* Footer */
  .footer {
    margin: 1em 0 0 0;
    flex-direction: column;
  }
}
